#results {
	width: 100%;
	border: 2px solid black;
	border-collapse: collapse;
}
#results tr * {
	border: 1px solid black;
	padding: 3px;
	padding-left: 5px;
}
#results tr th {
	border-bottom: 2px solid black;
}
#results tr.dd {
	background-color: #f55;
}
#results tr.sp {
	background-color: #ffffb3;
}
#results tr.tp {
	background-color: #5cd65c;
}
#assessment * {
	width: 100%;
}