span #upload-file-button {
	font-size: 16px;
}
#upload-file-selector:valid ~ span #upload-file-button {
	background-color: #4CAF50;
	border-color: #4CAF50;
	color: white;
	border-style: solid;
}
