.folder-contents {
	transition: height 0.3s;
	overflow: hidden;
	box-sizing: border-box;
	margin-left: 32px;
}
.folder.collapsed .folder-contents {
	height: 0 !important;
}
.folder {
	width: 100%;
	border: solid 2px;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
}
.folder.empty {
	border-color: grey;
	color: grey;
}
.folder-title {
	font-size: 20pt;
	user-select: none;
	moz-user-select: none;
	webkit-user-select: none;
	cursor: default;
	position: relative;
}
.folder-icon {
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translate(0, -50%);
	moz-transform: translate(0, -50%);
	webkit-transform: translate(0, -50%);
}
.folder-title-span {
	margin-left: 40px;
}
.file-preview-container {
	display:inline-block;
	position: relative;
	margin:10px 10px 10px 0px;
	border: solid 2px;
	padding:5px;
	padding-bottom:0px;
	width: 200px;
	vertical-align: top;
}
.badge {
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 10px 10px;
  border-radius: 50%;
}
.badge0 {
  background-color: red;
}
.badge1 {
  background-color: orange;
}