.folder-contents {
	transition: height 0.3s;
	overflow: hidden;
	box-sizing: border-box;
	margin-left: 32px;
}
.folder.collapsed .folder-contents {
	height: 0 !important;
}
.folder {
	width: 100%;
	border: solid 2px;
	border-radius: 10px;
	margin-top: 5px;
	padding: 5px;
}
.folder-title {
	font-size: 20pt;
	user-select: none;
	moz-user-select: none;
	webkit-user-select: none;
	cursor: default;
	position: relative;
}
.folder-icon {
	position: absolute;
	top: 50%;
	left: 2px;
	transform: translate(0, -50%);
}
.folder-title-span {
	margin-left: 40px;
}