:root {
	--tab-color: lightgrey;
	--tab-rounding: 8px;
}
.slider {
	transition: width 0.3s ease-out;
	width: 0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	background-color: lightblue;
	
}
:hover > .slider {
	width: 30%;
}
.client, .therapist, .pro {
	position: relative;
	box-sizing: border-box;
	max-width: 300px;
	min-height: 30px;
}
.text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
}
#sidebar {
	position: fixed;
	right: 0;
	top: 0;
	transition: transform 0.3s ease-out;
	width: 50%;
	transform: translateX(100%);
	box-sizing: border-box;
	overflow: auto;
	z-index: 1;
	background-color: white;
	height: 100%;
	padding-top: 120px;    /* this is the max-height of the logo, which is the max-height of the cats_header */
}
#sidebar.open {
	transform: translateX(0);
}
#sidebar-container {
	position: absolute;
	width: 100%;
	border: 1px solid #aaa;
	padding: 10px 20px;
	padding-bottom: 0;
}
.close-sidebar {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 10px;
	color: #5e6a75;
}
.close-sidebar:hover {
	color: black;
}
#sidebar:not(.open) .close-sidebar {
	display: none;
}
.selected {
	overflow: hidden;
	border: 2px solid green;
	background-color: lightgreen;
	border-radius: 5px;
}
table.sidebar-table {
	margin-bottom: 0;
}
#tabs {
	display: inline-block;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	min-height: 30px;
}
.tab {
	display: inline-block;
	min-width: 20%;
	padding: 5px 10px;
	height: 100%;
	background-color: var(--tab-color);
	vertical-align: middle;
	text-align: center;
	border: 1px solid var(--tab-color);
	border-bottom: none;
	border-radius: var(--tab-rounding) var(--tab-rounding) 0 0;
	box-sizing: border-box;
	cursor: default;
	user-select: none;
}
.tab.active-tab {
	background-color: white;
}
#save-button {
	margin-right: 10px;
}