.slider {
	transition: width 0.3s ease-out;
	width: 0;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	overflow: hidden;
	background-color: lightblue;
	
}
:hover > .slider {
	width: 30%;
}
.client, .therapist, .pro {
	position: relative;
	box-sizing: border-box;
	max-width: 300px;
	min-height: 30px;
}
.text {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10pt;
}
#sidebar {
	position: absolute;
	right: 0;
	top: 0;
	transition: width 0.3s ease-out;
	width: 0;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 1;
	background-color: white;
	min-height: 100%;
	padding-top: 70px;
}
#sidebar.open {
	width: 50%;
}
.close-sidebar {
	position: absolute;
	right: 20px;
	top: 20px;
	width: 10px;
	color: #5e6a75;
}
.close-sidebar:hover {
	color: black;
}
#sidebar:not(.open) .close-sidebar {
	display: none;
}
.selected {
	overflow: hidden;
	border: 2px solid green;
	background-color: lightgreen;
	border-radius: 5px;
}