#searchbar-wrapper {
	display: block;
	margin-bottom: 10px;
}

.search-hidden {
	display: none;
}

.filter-hidden {
	display: none;
}

.client-discharged {
	color: #0000008a;
}

.noAccount {
	text-align: center;
	text-align-last: center;
}

#name-exists {
	color: red;
}

#name-exists:not(.shown) {
	display: none;
}